 /*---------------------------*/ 
 /*Main-----------------------*/
 /*---------------------------*/

html {
    height: 100%;
    /* overflow: hidden; */
}

body {
    background-color: #050609;
    font-family: proxima-nova, sans-serif;
    color: #fff;
    margin: 0;
    max-width: 100%;
}
h1 {
    margin: 0 0 15px;
    font-size: 26px;
}
@media(min-width: 768px){
    h1 {
        font-size: 50px;
        font-weight: 700;
    }
}
@media (min-width: 992px){
    h1,
    p {
        text-align: center;
    }
}
h2 {
    margin: 0 0 10px;
}
p {
    margin: 0 0 18px;
    font-size: 18px;
    font-weight: 100;
}
svg {
    height: 100%;
}
#fixed-bg {
    background: url(../images/imageofme.jpg) no-repeat center;
    background-size: 100%;
    background-color: #050609;
    background-position: top;
    width: 100%;
    height: 500px;
    max-height: 100vh;
    position: absolute;
    z-index: -2;
}
#fixed-gradient {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,
        rgba(62, 62, 62, .88) 0%, 
        rgba(5, 6, 9, 1) 90%);
}
@media (min-width: 576px) {
    #fixed-bg {
        height: 100vh;
        background-position-y: -25px;
    }
}
@media (min-width: 768px) {
    #fixed-bg {
        background-position-y: -75px;
    }
    #fixed-gradient {
        background: linear-gradient(180deg,
            rgba(62, 62, 62, .88) 0%, 
            rgba(5, 6, 9, 1) 100%);
    }
}
@media (min-width: 1024px) {
    #fixed-bg {
        height: 800px;
        background-position-y: -175px;
    }
}
.body-margins {
    padding: 25px 15px 0;
}
@media(min-width: 576px){
    .body-margins {
        padding: 50px 40px 0;
    }
}
@media (min-width: 768px){
    .body-margins {
        padding: 50px 75px 0;
    }
}
@media (min-width: 1200px){
    .body-margins {
        padding: 50px 125px 0;
    }
}
.top-margin-100 {
    margin-top: 100px;
}
.top-margin-50 {
    margin-top: 50px;
}
.svg-spacing {
    display: flex;
    justify-content: center;
}
.icon {
    height: 40px;
    width: 40px;
    margin: 15px;
}
@media (min-width:1200px){
    #intro,
    #contact {
        text-align: center;
    }
}


/*---------------------------*/
/*Header---------------------*/
/*---------------------------*/

#header {
display: flex;
justify-content: space-between;
align-items: center;
}
#name {
    font-size: 18px;
}
.icon-header {
    margin: 0 0 0 10px;
    /* must be placed after .icon */
}
@media (min-width: 992px){
    .icon-header {
        margin: 0 0 0 30px;
    }
}

/*---------------------------*/
/*Intro----------------------*/
/*---------------------------*/

#a-email {
    text-decoration: none;
    color: #FE4A49;
}


/*---------------------------*/
/*Technologies---------------*/
/*---------------------------*/

#technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#html5 {
    background: url(../images/svgs/html5.svg) no-repeat;
}
#css3 {
    background: url(../images/svgs/css3.svg) no-repeat;
}
#js {
    background: url(../images/svgs/javascript.svg) no-repeat;
}
#jquery {
    background: url(../images/svgs/jquery.svg) no-repeat;
}
#sass {
    background: url(../images/svgs/sass.svg) no-repeat;
}
#bootstrap {
    background: url(../images/svgs/bootstrap.svg) no-repeat;
}
#vue-dot-js {
    background: url(../images/svgs/vue-dot-js.svg) no-repeat;
}
#vs-code {
    background: url(../images/svgs/vs-code.svg) no-repeat;
}
#adobe-xd {
    background: url(../images/svgs/adobe-xd.svg) no-repeat;
}
#adobe-ps {
    background: url(../images/svgs/adobe-ps.svg) no-repeat;
}

/*---------------------------*/
/*Projects-------------------*/
/*---------------------------*/

#projects {
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px){
    #projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly
    }
}
.project-preview {
    height: calc(100vw/1.5);
    width: 100%;
    margin: 10px auto;
    background-color: #FE4A49;
    cursor: pointer;
}
@media (min-width: 576px){
    .project-preview {
        height: 330px;
        width: 495px;
    }
}
@media (min-width: 992px){
    .project-preview {
        padding: 1px;
        margin: 15px;
    }
}
@media (min-width: 1200px){
    .project-preview{
        height: calc(100vw/3.5);
        width: 47%;
    }
}
#hover-content-uw,
#hover-content-dash,
#hover-content-di,
#hover-content-at,
#hover-content-portfolio {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 25px;
}
#project-uw:hover #hover-content-uw,
#project-dash:hover #hover-content-dash,
#project-di:hover #hover-content-di,
#project-at:hover #hover-content-at,
#project-portfolio:hover #hover-content-portfolio {
    display: flex;
}
#hover-content-uw {
    background-color: #FE4A49;
}
#hover-content-dash {
    background-color: #545454;
}
#hover-content-di {
    background-color: #9EBE58;
}
#hover-content-at {
    background-color: #08B2E3;
}
#hover-content-uw {
    background-color: #FE4A49;
}
.project-uw {
    background: url(../images/projects/project-uw.jpg) no-repeat center;
    background-size: cover;
}
.project-dash {
    background: url(../images/projects/project-dash.jpg) no-repeat center;
    background-size: cover;
}
.project-di {
    background: url(../images/projects/project-di.jpg) no-repeat center;
    background-size: cover;
}
.project-at {
    background: url(../images/projects/project-at.jpg) no-repeat center;
    background-size: cover;
}
.project-portfolio {
    /* background: url(../images/projects/project-uw.png) no-repeat; */
    background-size: cover;
}

/*---------------------------*/
/*Learning-------------------*/
/*---------------------------*/

#a-treehouse {
    color: #9EBE58;
    text-decoration: none;
}
#insert-here {
    display: flex;
    flex-wrap: wrap;
}
.course {
    display: flex;
    padding: 0 25px;
    align-items: center;
    width: 300px;
    margin: 0 auto 30px;
}
.course a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.course-img {
    width: 50px;
    min-width: 50px;
    height: 54.5px;
}
.course-info {
    margin-left: 23px;
}
.course-info h2 {
    color: #ffffff;
    line-height: 1;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 600;
}
@media (min-width: 576px){
    .course-info h2 {
        font-size: 20px;
    }
}
.course-info p {
    color: #ffffff;
    margin: 5px 0 0 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
}
.course-info .course-img {
    width: 172px;
    min-width: 172px;
    height: 172px;
}   
@media (min-width: 992px){

}
@media (min-width: 1200px){
    #insert-here {
        display: flex;
        padding: 0 75px;
    }
    p {
        text-align: center;
    }
}

/*---------------------------*/
/*Contact Me-----------------*/
/*---------------------------*/

#contact h1 {
    color: #08B2E3;
}
#email-icon {
    background: url(../images/svgs/envelope-solid-fa.svg) no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    fill: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
#contact .treehouse,
#contact .github,
#contact .hackerrank {
    margin-right: 10px;
}

 /*---------------------------*/
 /*Footer---------------------*/
 /*---------------------------*/

#footer {
    font-size: 16px;
    color: #545454;
    text-align: center;
    padding-bottom: 50px;
}
#footer .icon {
    height: 30px;
    width: 30px;
    margin: 5px;
}

/*---------------------------*/
/*Project - Overlays---------*/
/*---------------------------*/

.overlay h1 {
    font-weight: 600;
    margin-top: 65px;
    text-align: center;
}
.overlay {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    padding: 25px 15px 0;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;  
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #050609;
    overflow-x: hidden;
    transition: 0.5s;
}
/* @media(min-width: 576px){
    .overlay {
        padding: 50px 40px 0;
    }
} */
@media (min-width: 768px){
    .overlay {
        padding: 50px 75px 0;
    }
}
@media (min-width: 992px){
    .overlay {
        padding: 50px 75px 0;
    }
}
.overlay-content {
    position: relative;
    padding-top: 25px;
    width: 100%;
    text-align: left;
    margin: 30px auto 0;
}
@media (min-width: 769px) {
    .overlay-content {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .overlay-content {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .overlay-content {
        width: 900px;
    }
}
.overlay h2 {
    font-size: 20px;
    font-weight: 600;
}
.overlay-content p {
    text-align: left;
}
.closebtn {
    position: fixed;
    text-decoration: none;
    font-size: 60px;
    color: #ffffff;
    line-height: .5;
    z-index: 10;
    cursor: pointer;
}
.section-margin {
    margin: 35px 0;
}
.line-div {
    margin: 50px 0;
}
.line {
    width: 25px;
    height: 1px;
    margin: 10px auto;
}
#narrative-uw {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
#narrative-uw .external {
    color: #FE4A49;
}
#narrative-uw .line {
    background-color: #FE4A49;
}



#overlay-background {
    display: none;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
}



