 /*---------------------------*/ 
 /*Main-----------------------*/
 /*---------------------------*/

body {
    background-color: #050609;
    font-family: proxima-nova, sans-serif;
    color: #fff;
    margin: 0;
}
h1 {
    margin: 0;
    font-size: 26px;
}
p {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 100;
}
#fixed-bg {
    background: url(../images/imageofme.jpg) no-repeat center;
    background-size: 100%;
    background-color: #050609;
    background-position: top;
    width: 100%;
    height: 500px;
    max-height: 100vh;
    position: absolute;
    z-index: -2;
}
#fixed-gradient {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,
        rgba(62, 62, 62, .88) 0%, 
        rgba(5, 6, 9, 1) 90%);
}
@media (min-width: 576px) {
    #fixed-img {
        height: 100vh;
        background-position-y: -25px;
    }
}
@media (min-width: 768px) {
    #fixed-img {
        background-position-y: -75px;
    }
    #fixed-gradient {
        background: linear-gradient(180deg,
            rgba(62, 62, 62, .88) 0%, 
            rgba(5, 6, 9, 1) 100%);
    }
}
@media (min-width: 1024px) {
    #fixed-img {
        height: 800px;
        background-position-y: -175px;
    }
}
.body-margins {
    padding: 25px 15px 0;
}
.top-margin {
    margin-top: 100px;
}
.top-margin-50 {
    margin-top: 50px;
}
.svg-spacing {
    display: flex;
    justify-content: center;
}
.svg-profiles {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

/*---------------------------*/
/*Header---------------------*/
/*---------------------------*/

#header {
display: flex;
justify-content: space-between;
align-items: center;
}
#name {
    font-size: 18px;
}

/*---------------------------*/
/*Intro----------------------*/
/*---------------------------*/

#a-email {
    text-decoration: none;
    color: #FE4A49;
}


/*---------------------------*/
/*Technologies---------------*/
/*---------------------------*/

#technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tech-icon {
    height: 40px;
    width: 40px;
    margin: 15px;
}
#html5 {
    background: url(../images/svgs/html5.svg) no-repeat;
}
#css3 {
    background: url(../images/svgs/css3.svg) no-repeat;
}
#js {
    background: url(../images/svgs/javascript.svg) no-repeat;
}
#jquery {
    background: url(../images/svgs/jquery.svg) no-repeat;
}
#sass {
    background: url(../images/svgs/sass.svg) no-repeat;
}
#bootstrap {
    background: url(../images/svgs/bootstrap.svg) no-repeat;
}
#vue-dot-js {
    background: url(../images/svgs/vue-dot-js.svg) no-repeat;
}
#vs-code {
    background: url(../images/svgs/vs-code.svg) no-repeat;
}
#adobe-xd {
    background: url(../images/svgs/adobe-xd.svg) no-repeat;
}
#adobe-ps {
    background: url(../images/svgs/adobe-ps.svg) no-repeat;
}

/*---------------------------*/
/*Projects-------------------*/
/*---------------------------*/

#projects {
    display: flex;
    flex-direction: column;
}
.project-preview {
    height: 240px;
    width: 350px;
    max-width: 100%;
    margin: 10px 0;
    background-color: #FE4A49;
    cursor: pointer;
}
#project-uw {
    background: url(../images/projects/project-uw.jpg) no-repeat;
    background-size: cover;
}
#project-dash {
    background: url(../images/projects/project-dash.jpg) no-repeat;
    background-size: cover;
}
#project-di {
    background: url(../images/projects/project-di.jpg) no-repeat;
    background-size: cover;
}
#project-at {
    background: url(../images/projects/project-at.jpg) no-repeat;
    background-size: cover;
}
#project-portfolio {
    /* background: url(../images/projects/project-uw.png) no-repeat; */
    background-size: cover;
}

/*---------------------------*/
/*Learning-------------------*/
/*---------------------------*/

#learning h1 {
    font-weight: 400;
}
#a-treehouse {
    color: #9EBE58;
    text-decoration: none;
}

/*---------------------------*/
/*Contact Me-----------------*/
/*---------------------------*/

#contact h1 {
    font-weight: 400;
    color: #FE4A49;
}
#email-icon {
    background: url(../images/svgs/envelope-solid-fa.svg) no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    fill: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
#contact .svg-profiles {
    margin-right: 10px;
}
.course {
    display: flex;
    padding: 0 26px;
    align-items: center;
    width: 300px;
    margin-bottom: 30px;
}
.course a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.course-img {
    width: 50px;
    min-width: 50px;
    height: 54.5px;
}
.course-info {
    margin-left: 23px;
}
.course-info h2 {
    color: #ffffff;
    line-height: 1;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.course-info p {
    color: #ffffff;
    margin: 5px 0 0 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
}
.course-info .course-img {
    width: 172px;
    min-width: 172px;
    height: 172px;
}   

 /*---------------------------*/
 /*Footer---------------------*/
 /*---------------------------*/

#footer {
    font-size: 16px;
    color: #545454;
    text-align: center;
    padding-bottom: 50px;
}



#narrative-uw {
    position: absolute;
    z-index: 99;
}